@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

html,
body {
  background-color: #0b1020;
  color: #e5e7eb;
}

/* Editor JSON monoespaciado */
.code {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
}

/* Scrollbar discreta */
* {
  scrollbar-width: thin;
  scrollbar-color: #334155 transparent;
}
